@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Fraunces:wght@800&family=Montserrat:wght@400;500&family=Righteous:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Fraunces:wght@800&family=Montserrat+Alternates&family=Montserrat:wght@400;500&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Fraunces:wght@800&family=Montserrat+Alternates&family=Montserrat:wght@400;500&family=Righteous&family=Roboto&display=swap');

* {
    font-family: 'Roboto';
}

.AC {
    text-decoration: none;
    color: rgb(46, 196, 255);
    font-size: 30px;
    width: 300px;
    font-family: 'Montserrat Alternates';
    font-weight: 900;
}

.AC-Com {
    font-family: 'Righteous';
}

.nav_input {
    color: grey;
}

.search>button {
    border-radius: 5px;
    width: 35.5px;
    height: 35.5px;
    border: none;
    background: #fff;
    margin-top: 1.5px;
    margin-right: 5px;
}

.bi {
    background: #fff;
    color: darkgrey;
}

.YouTube {
    margin-left: 40px;
    margin-top: 50px;
}

.YouTube-heading {
    margin-top: 50px;
    display: flex;
    align-items: center;
    grid-gap: 50px;
}

.YH-part-1 {
    margin-left: 20px;
}

.YouTube-img-2 {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.YouTube-title {
    margin-top: 20px;
}

.YouTube-title>b {
    color: red;
}

.YouTube-img {
    width: 1270px;
}

.YouTube-text {
    width: 300px;
}

.YouTube-main {
    margin-left: 20px;
}

.more-info {
    margin-top: 50px;
    font-weight: 500;
    font-size: 20px;
}

.YouTube-channel {
    color: aqua;
    text-decoration: none;
    font-weight: 600;
}

@media only screen and (max-width:1024px) {
    .YouTube {
        margin-left: 20px;
    }

    .YouTube-img {
        width: 990px;
    }
}

@media only screen and (max-width: 768px) {
    .YouTube-img {
        width: 730px;
    }
}

@media only screen and (max-width: 425px) {
    .YouTube {
        margin-left: 10px;
    }

    .YouTube-img {
        width: 400px;
    }

    .YouTube-heading {
        display: grid;
    }

    .YH-part-2 {
        margin-left: 15px;
    }
}