@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Fraunces:wght@800&family=Montserrat:wght@400;500&family=Righteous:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Fraunces:wght@800&family=Montserrat+Alternates&family=Montserrat:wght@400;500&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Fraunces:wght@800&family=Montserrat+Alternates&family=Montserrat:wght@400;500&family=Righteous&family=Roboto&display=swap');

* {
    font-family: 'Roboto';
}

.AC {
    text-decoration: none;
    color: rgb(46, 196, 255);
    font-size: 30px;
    width: 300px;
    font-family: 'Montserrat Alternates';
    font-weight: 900;
}

.AC-Com {
    font-family: 'Righteous';
}

.nav_input {
    color: grey;
}

.search {
    border-radius: 5px;
    width: 60px;
    height: 35.5px;
    background: #fff;
    margin-top: 1.5px;
    margin-right: 5px;
}

.bi {
    margin-left: 7px;
    margin-top: 7px;
    background: #fff;
    color: darkgrey;
}

.YouTube {
    margin-top: 100px;
    margin-left: 40px;
}

.YouTube-title {
    margin-top: 20px;
}

.YouTube-text {
    width: 300px;
}

.YouTube-channel {
    color: aqua;
    text-decoration: none;
    font-weight: 600;
}

