@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Fraunces:wght@800&family=Montserrat:wght@400;500&family=Righteous:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Fraunces:wght@800&family=Montserrat+Alternates&family=Montserrat:wght@400;500&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Fraunces:wght@800&family=Montserrat+Alternates&family=Montserrat:wght@400;500&family=Righteous&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Fraunces:wght@800&family=Montserrat+Alternates&family=Montserrat:wght@400;500&family=Righteous&family=Roboto&family=Roboto+Slab:wght@500&family=Russo+One&display=swap');


* {
    font-family: 'Roboto';
}

body {
    background: linear-gradient(30deg, rgb(119, 31, 154), rgb(111, 0, 123), rgb(0, 125, 174), rgb(0, 34, 255));
}

.container {
    max-width: 1440px;
}

.bi-list {
    margin-left: 40px;
}

.empty {
    margin-top: 10px;
    color: #202020;
    font-size: 20px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.closebtn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.closebtn:hover {
    color: #f1f1f1;
}

li {
    list-style: none;
}

.oc-active {
    background: #9fc4f1;
    text-decoration: none;
    color: #315ee4;
    border: none;
    width: 250px;
    font-size: 30px;
    margin-left: -32px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.oc-link {
    color: #7cc7e5;
    text-decoration: none;
    font-size: 25px;
    position: relative;
    top: 20px;
}

.hr {
    width: 300px;
    height: 1px;
    background: #909090;
    margin-bottom: 10px;
    margin-left: -100px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

@media screen and (max-width: 450px) {
    .sidenav {
        width: 220px;
    }
}

.nav-search {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav_input {
    color: grey;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 20px;
    margin-right: 5px;
}

.search>button {
    border-radius: 5px;
    width: 35.5px;
    height: 35.5px;
    border: none;
    background: #fff;
    margin-top: 0.5px;
    margin-right: 5px;
    border: 1px solid #ddd;
    color: darkgrey;
}

.AC {
    text-decoration: none;
    color: #2ec4ff;
    font-size: 30px;
    width: 300px;
    margin-left: 250px;
    font-family: 'Montserrat Alternates';
    font-weight: 900;
}

.AC-Com {
    font-family: 'Righteous';
}

.AC-2 {
    margin-left: 30px;
    font-weight: 600;
    color: #2ec4ff;
    font-family: 'Righteous';
    font-size: 100px;
    text-shadow: 1px 1px 0px #007aaa;
}

.AC-2-second {
    position: relative;
    bottom: 25px;
    right: 55px;
    font-weight: 600;
    font-family: 'Montserrat Alternates';
    font-size: 25px;
}

.welcome-img {
    width: 580px;
    height: 350px;
}

.welcome-title {
    font-size: 30px;
    width: 450px;
    text-align: center;
    margin-left: 50px;
    font-family: 'Roboto Slab';
}

.welcome-text {
    margin-left: 80px;
    margin-top: 20px;
    width: 400px;
}

.welcome-text-child {
    font-size: 25px;
    font-family: 'Roboto';
}

#YouTube {
    margin-left: 40px;
    margin-top: 250px;
}

.YouTube-heading {
    margin-top: 50px;
    display: flex;
    align-items: center;
    grid-gap: 50px;
}

.YH-part-1 {
    margin-left: 10px;
}

.YouTube-img {
    margin-left: -120px;
    width: 1350px;
    border-radius: 10px;
    border: 3px solid red;
}

.YouTube-img-2 {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 3px solid red;
}

.YouTube-title {
    margin-top: 20px;
    color: #fff;
}

.bi-youtube {
    color: red;
    background-image: url(./1321px.jpg);
}

.YouTube-title>b {
    color: red;
}

.YouTube-img {
    width: 1270px;
}

.YouTube-text {
    width: 300px;
    color: #fff;
}

.YouTube-main {
    margin-left: 10px;
}

.more-info {
    color: #fff;
    margin-top: 50px;
    margin-left: 10px;
    font-weight: 500;
    font-size: 20px;
}

.more-info-menu {
    margin-top: 50px;
    margin-left: 10px;
    width: 1000px;
}

.YouTube-channel {
    color: rgb(234, 0, 0);
    text-decoration: none;
    font-weight: 600;
}

#Discord {
    margin-top: 200px;
}

.discord-img {
    border: 4px solid #fff;
    margin-left: -95px;
    border-radius: 20px;
    width: 1300px;
}

.discord-elements {
    display: flex;
    align-items: center;
    grid-gap: 50px;
    margin-left: 40px;
    margin-top: 100px;
}

.Discord-heading {
    margin-top: 100px;
    margin-left: 20px;
    grid-gap: 50px;
    display: flex;
    align-items: center;
}

.DH-title {
    text-align: center;
}

.DH-title>h1 {
    color: #fff;
}

.Discord-2-img>img {
    width: 400px;
    border-radius: 30%;
    border: 3px solid white;
}

.DH-channel {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
}

.DH-channel>img {
    padding: 10px;
}

.discord-elements {
    margin-left: 200px;
}

.DH-info {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 10px;
    width: 300px;
    color: #fff;
}

@media only screen and (min-width:1440px) {
    .YouTube-img {
        margin-left: -30px;
    }

    .discord-img {
        margin-left: -10px;
    }
}

@media only screen and (max-width:1024px) {
    .container {
        max-width: 1024px;
    }

    .empty {
        font-size: 15px;
    }

    .AC {
        margin-left: 10px;
    }

    .welcome-img {
        width: 490px;
        height: 310px;
    }

    .welcome-title {
        font-size: 27px;
        width: 400px;
        margin-left: 30px;
    }

    .welcome-text {
        margin-left: 60px;
        margin-top: 20px;
        width: 400px;
    }

    .welcome-text-child {
        font-size: 22px;
    }

    #YouTube {
        margin-left: 20px;
    }

    .YouTube-img {
        width: 1000px;
        margin-left: -50px;
    }

    .bi-youtube {
        background-image: url(./1024px.jpg);
    }

    .more-info-menu {
        width: 700px;
    }

    #Discord {
        margin-left: -60px;
    }

    .discord-img {
        width: 1000px;
        margin-left: 28px;
    }

    .discord-elements {
        margin-left: 100px;
    }
}

@media only screen and (max-width:991px) {
    .container {
        max-width: 991px;
    }

    .empty {
        margin-left: -45px;
    }

    .AC {
        margin-left: 20px;
    }

    .bi-youtube {
        background-image: url(./991px.jpg);
    }

    .welcome-img {
        width: 645px;
        height: 350px;
    }

    .welcome-title {
        font-size: 25px;
        width: 400px;
        margin-left: -180px;
        margin-top: 400px;
    }

    .welcome-text {
        margin-left: -300px;
        margin-top: 30px;
        width: 600px;
    }

    .welcome-text-child {
        font-size: 20px;
    }

    #YouTube {
        margin-left: -100px;
    }

    .YouTube-img {
        margin-left: 10px;
        width: 850px;
    }

    .discord-img {
        margin-left: -85px;
        width: 985px;
    }

    .discord-elements {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        max-width: 768px;
    }

    .empty {
        display: none;
    }

    .AC {
        margin-left: -10px;
    }

    .welcome-img {
        width: 650px;
        height: 350px;
    }

    .welcome-title {
        font-size: 30px;
        width: 500px;
        margin-left: -250px;
        margin-top: 400px;
    }

    #YouTube {
        margin-left: -10px;
    }

    .YouTube-img {
        width: 730px;
        margin-left: -5px;
    }

    .bi-youtube {
        background-image: url(./768px.jpg);
    }

    .discord-img {
        width: 700px;
        margin-left: 55px;
    }

    .discord-elements {
        margin-left: 60px;
    }

    .Discord-2-img>img {
        width: 300px;
    }
}

@media only screen and (max-width: 425px) {
    .container {
        max-width: 425px;
    }

    .bi-list {
        margin-left: 1px;
    }

    .nav-search {
        margin-top: 20px;
        margin-left: 70px;
    }

    .welcome-img {
        width: 360px;
        height: 200px;
        padding-left: 30px;
        padding-top: 20px;
    }

    .welcome-title {
        font-size: 25px;
        width: 350px;
        margin-left: -5px;
        margin-top: 20px;
    }

    .welcome-text {
        margin-left: 15px;
        width: 300px;
    }

    #YouTube {
        margin-left: 10px;
    }

    .YouTube-img {
        width: 400px;
        margin-left: -10px;
    }

    .YouTube-heading {
        display: grid;
    }

    .bi-youtube {
        background-image: url(./425px.jpg);
    }

    .YH-part-2 {
        margin-left: 15px;
    }

    .more-info-menu {
        width: 300px;
    }

    .discord-img {
        width: 400px;
    }

    .discord-elements {
        margin-left: 80px;
    }

    .Discord-heading {
        display: grid;
    }
}

@media only screen and (max-width: 375px) {
    .container {
        max-width: 375px;
    }

    .AC {
        margin-left: 1px;
    }

    .nav-search {
        margin-left: 20px;
    }

    .welcome-img {
        width: 320px;
        height: 200px;
        padding-left: 30px;
        padding-top: 20px;
    }

    .welcome-title {
        font-size: 25px;
        width: 350px;
        margin-left: -20px;
        margin-top: 20px;
    }

    .welcome-text {
        margin-left: 15px;
        width: 300px;
    }

    .bi-list {
        width: 30px;
        height: 30px;
    }

    .close {
        margin-left: 320px;
    }

    .YouTube-img {
        width: 350px;
    }

    .bi-youtube {
        background-image: url(./375px.jpg);
    }

    .discord-img {
        width: 360px;
    }

    .discord-elements {
        margin-left: 50px;
    }

    .Discord-2-img {
        margin-left: 15px;
    }
}

@media only screen and (max-width: 320px) {
    .container {
        max-width: 320px;
    }

    .AC {
        margin-left: 10px;
    }

    .bi-list {
        margin-left: -1px;
    }

    .nav-search {
        margin-left: 1px;
    }

    .nav_input {
        padding: 5px 1px;
    }

    .welcome-img {
        width: 280px;
        height: 180px;
        padding-left: 10px;
        padding-top: 20px;
    }

    .welcome-title {
        font-size: 20px;
        width: 300px;
        margin-right: 50px;
        margin-top: 20px;
    }

    .welcome-text {
        margin-left: -5px;
        width: 250px;
        font-size: 18px;
    }

    .AC {
        margin-right: -50px;
        font-size: 28px;
    }

    .YouTube-img {
        width: 300px;
    }

    .bi-youtube {
        background-image: url(./320px.jpg);
    }

    .YouTube-text {
        width: 250px;
    }

    .more-info-menu {
        width: 250px;
    }

    .discord-img {
        width: 300px;
    }

    .DH-info {
        width: 250px;
        text-align: center;
    }

    .Discord-2-img {
        margin-left: -12.5px;
    }
}